body
{
    position: relative;
    background-color: black;
}

div
{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1400px;
    background-color: rgb(23, 22, 22);
    border-radius: 10px;
    margin-top: 20px;
}

img
{
    height: 300px;
    width: 300px;
    float: left;
    padding-left: 50px;
}

h2
{
    color: aliceblue;
    margin-left: 30px;
    padding-top: 20px;
}


.shifting
{
    padding-left: 500px!important;
    margin-top: 50px;
    font-weight: bolder;

}
.shiftingul
{
    padding-left: 520px;
    margin-top: 50px;
    margin-right: 550px;
    font-weight: bolder;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(190, 235, 246);
}
.shiftprice
{
    float: right;
    font-weight: bolder;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(190, 235, 246);
    position: absolute;
    list-style-type: none;
    margin-top: 90px;
    margin-left: 830px;
}
.listImg
{
    height: 100px;
    width: 150px;
}
.xpad
{
    padding-left: 20px;
}
.x
{
    height: 50px;
    width: 70px;
}
.heading
{
    font-size: 30px!important;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}

.listP
{
    padding-top: 20px!important;
}

/* .linkclass
{
    color: azure;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
} */

.price
{
    float: right;
    margin-right: 400px;
}

.priceHeadA
{
    position: absolute;
    margin-left: 300px;
    margin-top: 30px;
    color: red;
    width: 200px;
}

.priceHeadF
{
    position: absolute;
    margin-left: 300px;
    margin-top: 120px;
    color: red;
    width: 200px;
}

.priceHeadW
{
    position: absolute;
    margin-left: 280px;
    margin-top: 170px;
    color: red;
    width: 200px;
}

.priceHeadOF
{
    position: absolute;
    margin-left: 300px;
    margin-top: 215px;
    color: red;
    width: 200px;
}

.Ra1
{
    height: 350px;
    width: 200px;
}

.mob
{
    height: 300px;
    width: 250px;
}
